<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
 <link rel="stylesheet" href="/css2/index2.css" type="text/css"></link>
 <!-- angujs -->
<script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>

<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/shopController.js"></script>
<script type="text/javascript" src="js/service/shopService.js"></script>
<script type="text/javascript" src="js/service/uploadService.js"></script>
</head>
<body ng-app="myApp" ng-controller="shopController">
	<table>
		<tr>
			<td>图片
				<input type="file" id="file">
				<input type="button" value="上传" ng-click="uploadFile()">
			</td>
			<td>
				<img alt="" ng-src="{{entity.imgpath}}" width="50px" height="50px">
			</td>
		</tr>
		<tr>
			<td>商品类型</td>
			<td>
				<input type="text" ng-model="entity.lname">
			</td>
		</tr>
		<tr>
			<td>商品名称</td>
			<td>
				<input type="text" ng-model="entity.name">
			</td>
		</tr>	
		<tr>
			<td>商品描述</td>
			<td>
				<input type="text" ng-model="entity.content">
			</td>
		</tr>	
		<tr>
			<td>单价</td>
			<td>
				<input type="text" ng-model="entity.price">
			</td>
		</tr>	
		<tr>
			<td>库存</td>
			<td>
				<input type="text" ng-model="entity.kc">
			</td>
		</tr>
		<tr>
			<td>
				<input type="button" value="提交" ng-click="add()">
			</td>
		</tr>
	</table>
</body>
</html>